.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

.container {
    width: 65%;
    padding-top: 0;
    margin-top: 0;
}

.dimension {
    height: auto;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
}

.Header, .Footer{
    height: 2rem;
    width: 100%;
    position: relative;        
    background: #333;
    padding: 0 0 1rem 0;
    color: #fff;
}
.Header{
    top: 0;
    height: 3rem;
    overflow: hidden;
}
.Footer{
    overflow: hidden;
    bottom: 0;
    text-align: center;
    margin: 0;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 0.5rem;
}

.button-container {
    position: relative;
    display: flex;
    width: 50%;
    flex-wrap: row wrap;
    height: 100%;
}

input {
    position: relative;
    width: 100%;
    margin: 0rem;
    height: 100%;
    font-size: x-large;
    font-weight: 300;
}

input::placeholder {
    font-weight: 500;
    opacity: 0.2;
    font-style: italic;
    font-size: x-large;
    font-stretch: extra-expanded;
}

.card-content {
    width: 100%;
    margin: 0;
    padding: 0;
}


.todos > * {
    margin: 0;
    padding-top: 0.65rem;
    padding-bottom: 1rem;
    width: auto;
    position: relative;
    display: inline-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    color: #000;
    border-bottom: 1px solid grey;
    overflow: hidden;
}


.todos .todo-item {
    padding-left: 10px;
    width: 85%;
    font-size: x-large;
    font-weight: 500;
    font-style: italic;
    word-wrap: break-word;
    overflow: hidden;
}

.delete-button {
    background-color: #fff;
    text-align: center;
    font-weight: 700;
    word-wrap: break-word;
    font-size: larger;
    color: black;
    border: none;
    outline: none;
    visibility: hidden;
    margin: 0;
}


.todos:hover .delete-button{
    visibility: visible;
    cursor: pointer;
    color: rgb(255, 162, 162);
}

.todos:not(:hover) .todos:active .delete-button {
    visibility: visible;
    cursor: pointer;
    color: rgb(255, 162, 162);
}


button {
    border:1px solid gray;
    border-radius:7%;
    font-size:0.875;
    word-wrap: break-word;
    width: 100px;
    max-width: 100%;
    margin: 2px auto 2px auto;
    height: 100%;
    color: white;
    background-color: #000;
}
\
button:hover  {
    cursor: pointer;
}

button:focus {
    color: rgb(101, 101, 255);
}